<section class="cards">
  <div class="card stat">
    <div class="icon" style="background:#59c167;"><i class="fa fa-dollar-sign" style="font-size:2.0em;"></i></div>
    <div class="meta"><div class="label ">Total Sales</div><div class="value total_sales">0</div></div>
  </div>

  <div class="card stat">
    <div class="icon" style="background:#59c167;"><i class="fa fa-luggage-cart" style="font-size:2.0em;"></i></div>
    <div class="meta"><div class="label ">Total Purchases</div><div class="value total_purchases">0</div></div>
  </div>

  <div class="card stat">
    <div class="icon" style="background:#59c167;"><i class="fa fa-people-carry" style="font-size:2.0em;"></i></div>
    <div class="meta"><div class="label ">Waste / Damaged</div><div class="value waste_damaged">0</div></div>
  </div>

  <div class="card stat">
    <div class="icon" style="background:#59c167;"><i class="fa fa-money-bill-alt" style="font-size:2.0em;"></i></div>
    <div class="meta"><div class="label">Office Expenses</div><div class="value office_expenses">0</div></div>
  </div>
</section>

<section class="cards">
    <div class="card stat">
        <div class="icon"><i class="fa fa-clipboard" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Total Orders</div><div class="value total_orders">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon"><i class="fa fa-truck" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Pending Orders</div><div class="value pending_orders">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon"><i class="fa fa-check-square" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Order Delivered</div><div class="value delivered_orders">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon"><i class="fa fa-beer" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Return / Refund Requests</div><div class="value return_orders">0</div></div>
    </div>
</section>

<section class="cards">
    <div class="card stat">
        <div class="icon" style="background:#bd04e2;"><i class="fa fa-object-group" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Total Products</div><div class="value total_products">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#bd04e2;"><i class="fa fa-shopping-basket" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Sold Out</div><div class="value sold_out">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#bd04e2;"><i class="fa fa-people-carry" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Products Damaged</div><div class="value products_damaged">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#bd04e2;"><i class="fa fa-store-alt" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Products Available In Stock</div><div class="value products_in_stock">0</div></div>
    </div>
</section>