<section class="cards">
    <div class="card stat">
        <div class="icon" style="background:#e22504;"><i class="fa fa-user" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Profile Setting</div><div class="value">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#e22504;"><i class="fa fa-heart" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Password Setting</div><div class="value">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#e22504;"><i class="fa fa-globe" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">App Layouts Setting</div><div class="value">0</div></div>
    </div>
    <div class="card stat">
        <div class="icon" style="background:#e22504;"><i class="fa fa-image" style="font-size:2.0em;"></i></div>
        <div class="meta"><div class="label">Company Contents & Logo</div><div class="value">0</div></div>
    </div>
</section>